<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="signup_form" (ngSubmit)="signup()">
    <ion-item>
      <ion-input type="text" formControlName="name" placeholder = "Name" ></ion-input>
    </ion-item>
    <div *ngIf = "signup_form.controls.name.invalid && signup_form.controls.name.dirty">
      <p>Please enter Name</p>
    </div>

    <ion-item>
      <ion-input type="email" formControlName="email" placeholder = "Email" ></ion-input>
    </ion-item>
    <div *ngIf = "signup_form.controls.email.invalid && signup_form.controls.email.dirty">
      <p>Please enter valid Email</p>
    </div>

    <ion-item>
      <ion-input type="password" formControlName="password" placeholder = "Password" ></ion-input>
    </ion-item>
    <div *ngIf = "signup_form.controls.password.invalid && signup_form.controls.password.dirty">
      <p>Password must have minimum of 8 charactors</p>
    </div>
    <button ion-button full type="submit" [disabled]="signup_form.invalid">Sign up</button>
  </form>
</ion-content>
